.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--main-se-color);
    text-align: center; 
    margin-bottom: 50px;
}

.section-frend__subtitle, .portfolio-items__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color:  var(--main-se-color);
}

.section-frend__subtitle {
    margin-bottom: 10px;
}

.section-frend__subtitle, .section-frend__text { text-align: center;
}

.section-frend__text {
    font-size: 16px;
    line-height: 1.17;
    color:  var(--main-to-color);
    margin-bottom: 16pt;
}

.section-frend__list{ 
 
    @media screen and (min-width: 768px){
        display: flex;
        justify-content:space-between;  
    
}

    margin: 0px;
}

.section-frend {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-so-color);
}

.section-frend__link {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background-color: var(--main-sir-color);
    margin: auto;
  
  
}
